.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/
.gitconfig
.node_repl_history
.nvm/
.ssh/
.vim/
package.json
.viminfo
.git-prompt.sh
test/
tmp/
temp/
local/
.npm
package-lock.json
node_modules/
checkPrxy.sh
runPrxy.sh
stopPrxy.sh
public/phot/
views/favicon.ico
exTest/
.lesshst
.rnd
nginxConfigOkVrjn.confBkNew
nginxConfigOkVrjn.confBK
