<!DOCTYPE html >
<html lang="ja">

<head>
	<title>Google Maps Street View サンプル</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="robots" content="noindex,nofollow,noarchive" />

	<!-- レスポンシブWebデザインを使うために必要なmetaタグ -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- Bootstrap CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen"/>
	<!--  <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">  -->
	<link rel="stylesheet" href="css/GmapStyleSeet.css"/>

	<!-- leafletを使うためのおまじない -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>

	<!-- マーカー回転用プラグイン -->
   	<script src="js/leaflet.rotatedMarker.js"></script>
	<!-- 積み重ねチップス用プラグイン -->
    <script src="js/Leaflet.Marker.Stack.js"></script>
    <script src="js/Leaflet.Icon.Chip.js"></script>
	<!-- 100メートルピッチ 緯度経度 -->
    <script src="js/R9Kp100mPich.js"></script>
    <script src="js/R27Kp100mPich.js"></script>
	<!-- ============================= -->

</head>
<body>
<form id="topForm">
	<div class="row">
		<div class="sidebar col-sm-3 hidden-xs" style="position:fixed">
			<!--2割bootstrapパラメータ -->
			<table border="0" rules="groups" id="History1">
				<tr bgcolor="#ebecee">
					<td id="currentLatTag"></td>
					<td><input type="button" value="緯度コピー" onClick="tagTextToClipboard('currentLatTag');"></td>
				</tr>
				<tr bgcolor="#ebecee">
					<td id="currentLngTag"></td>
					<td><input type="button" value="経度コピー" onClick="tagTextToClipboard('currentLngTag');"></td>
				</tr>
			</table>
			<br>
			<div align="center">
				<span style="font-size: medium"><strike><strong>統計事象データの読み込み</strong></strike></span>
				<input type="file" id="inputFile" accept=".json" disabled> 
			</div>
			<br>
			<div align="center">
				<span style="font-size: medium"><strong>特記事象登録</strong></span>
				<INPUT type="button" value="登録用フォームを開く" onClick="openImgUploadForm(this);" disabled>
			</div>
			<br>
			<div align="center">
				<!--
				<INPUT type="button" value="特記事象マーカーを消す" onClick="delMarkers();">
				<INPUT type="button" value="テストスクリプト実行" onClick="testScript();">
				-->
			</div>
            <div class="row">
				<div class="col-sm-12">
					<ul class="nav nav-pills">
						<li class="active dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Ｒ９
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#menu9-1" data-toggle="tab">京丹波</a></li>
								<li><a href="#menu9-2" data-toggle="tab">三和</a>
								</li>
								<li><a href="#menu9-3" data-toggle="tab">福知山</a></li>
								<li><a href="#menu9-4" data-toggle="tab">夜久野</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Ｒ27
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#menu27-1" data-toggle="tab">舞鶴</a></li>
								<li><a href="#menu27-2" data-toggle="tab">綾部</a></li>
								<li><a href="#menu27-3" data-toggle="tab">京丹波</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">事象
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#menuEvnt-0" data-toggle="tab">全て表示</a></li>
								<li><a href="#menuEvnt-1" data-toggle="tab">落下物</a></li>
								<li><a href="#menuEvnt-2" data-toggle="tab">事故</a></li>
								<li><a href="#menuEvnt-3" data-toggle="tab">災害</a></li>
								<li><a href="#menuEvnt-4" data-toggle="tab">動物死骸</a></li>
								<li><a href="#menuEvnt-5" data-toggle="tab">苦情</a></li>
								<li><a href="#menuEvnt-6" data-toggle="tab">通報</a></li>
								<li><a href="#menuEvnt-7" data-toggle="tab">その他</a></li>
							</ul>
						</li>
					</ul>
					<div class="tab-content">
						<div id="menu9-1" class="tab-pane fade in active">
							<h3>R9:京丹波</h3>
							<ul id="ulList9-1" style="width:200%"></ul>
						</div>	
						<div id="menu9-2" class="tab-pane fade">
							<h3> R9:三和</h3>
							<ul id="ulList9-2" style="width:200%"></ul>
						</div>
						<div id="menu9-3" class="tab-pane fade">
							<h3>R9:福知山</h3>
							<ul id="ulList9-3" style="width:200%"></ul>
						</div>
						<div id="menu9-4" class="tab-pane fade">
							<h3>R9:夜久野</h3>
							<ul id="ulList9-4" style="width:200%"></ul>
						</div>
						<div id="menu27-1" class="tab-pane fade">
							<h3>R27:舞鶴</h3>
							<ul id="ulList27-1" style="width:200%" ></ul>
						</div>
						<div id="menu27-2" class="tab-pane fade">
							<h3>R27:綾部</h3>
							<ul id="ulList27-2" style="width:200%"></ul>
						</div>
						<div id="menu27-3" class="tab-pane fade">
							<h3>R27:京丹波</h3>
							<ul id="ulList27-3" style="width:200%"></ul>
						</div>

						<div id="menuEvnt-0" class="tab-pane fade">
							<h3>事象：全て</h3>
							<ul id="ulListEvnt-0" style="width:200%"></ul>
						</div>
						<div id="menuEvnt-1" class="tab-pane fade">
							<h3>事象：落下物</h3>
							<ul id="ulListEvnt-1" style="width:200%"></ul>
						</div>
						<div id="menuEvnt-2" class="tab-pane fade">
							<h3>事象：事故</h3>
							<ul id="ulListEvnt-2" style="width:200%"></ul>
						</div>
						<div id="menuEvnt-3" class="tab-pane fade">
							<h3>事象：災害</h3>
							<ul id="ulListEvnt-3" style="width:200%"></ul>
						</div>
						<div id="menuEvnt-4" class="tab-pane fade">
							<h3>事象：動物死骸</h3>
							<ul id="ulListEvnt-4" style="width:200%"></ul>
						</div>
						<div id="menuEvnt-5" class="tab-pane fade">
							<h3>事象：苦情</h3>
							<ul id="ulListEvnt-5" style="width:200%"></ul>
						</div>
						<div id="menuEvnt-6" class="tab-pane fade">
							<h3>事象：通報</h3>
							<ul id="ulListEvnt-6" style="width:200%"></ul>
						</div>
						<div id="menuEvnt-7" class="tab-pane fade">
							<h3>事象：その他</h3>
							<ul id="ulListEvnt-7" style="width:200%"></ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-9 col-sm-offset-3">
			<!--地理院タイルを表示する領域 -->
			<div id="mapCanvas"></div>
			<!--ストリートビューを表示する領域 -->
			<div id="mapView"></div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDAT1CHvQkiTKOdPbmJp2gOpqDIblMgzfI"></script>

	<script type="text/javascript" src="js/gmapStreetVeiw.js"></script>
	<script src="js/socket.io.js"></script>

<!--    	<script src="js/myHalfLatLngLst.js"></script> -->
   	<script src="js/myLatLngLst.js"></script>

	<script src='js/initSocketIo.js'></script>
	<script src='js/clickFunctions.js'></script>
   	<script src="js/JSFunctions.js"></script>


</form>
</body>

</html>