<!doctype html>

<html lang="ja">
    <head>
        <title>トップページ</title>
        <meta charset="UTF-8">
        <meta http-equiv="content-language" content="ja">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="favicon.ico">
	</head>
    <body>
        <h1>ここは、トップページです。</h1>

		<h1><%= title %></h1>
        <p>『content = <%= content %>』</p>

		<hr><center>GDori</center>
	</body>
</html>
